name: AWS integration test PR

on:
  pull_request:

jobs:
  deploy-and-test-bundle:
    runs-on: ubuntu-latest
    env:
      DATABRICKS_HOST: ${{ vars.AWS_DATABRICKS_HOST }}
      DATABRICKS_CLIENT_ID: ${{ secrets.AWS_DATABRICKS_CLIENT_ID }}
      DATABRICKS_CLIENT_SECRET: ${{ secrets.AWS_DATABRICKS_CLIENT_SECRET }}
      BUNDLE_VAR_catalog_name: ${{ vars.AWS_CATALOG_NAME }}
      BUNDLE_VAR_schema_name: ${{ vars.AWS_SCHEMA_NAME }}
      BUNDLE_VAR_service_principal_name: ${{ secrets.AWS_DATABRICKS_CLIENT_ID }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Databricks CLI
        run: pip install databricks-cli

      - name: Validate bundle
        run: databricks bundle validate -t stg

      - name: Deploy bundle
        run: databricks bundle deploy -t stg

      - name: Run MMM example job
        run: databricks bundle run mmm_example -t stg
